<c-row>
    <c-col class="clickable" [sm]="6" [md]="3" routerLink="/table-meta">
      <c-card class="mb-4">
        <c-card-body>
          <h5 cCardTitle class="text-center">Table Meta</h5>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col class="clickable" [sm]="6" [md]="3">
      <c-card class="mb-4">
        <c-card-body>
          <h5 cCardTitle class="text-center">Column Meta</h5>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col class="clickable" [sm]="6" [md]="3">
      <c-card class="mb-4">
        <c-card-body>
          <h5 cCardTitle class="text-center">Card title</h5>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col class="clickable" [sm]="6" [md]="3">
      <c-card class="mb-4">
        <c-card-body>
          <h5 cCardTitle class="text-center">Card title</h5>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  